# common editor temporary files
*~
.*~
.*swp
#*#
.project
.vscode

# cmake products
CMakeCache.txt
CMakeLists.txt.orig
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
cmake_uninstall.cmake
compile_commands.json
Makefile
/src/config.h
.cmake
.qt

# build products
/bin
/lib
/build
/debian
Traverso.app
*.[oa]

# Ignore Qt Creator project settings and local state files
.qtcreator/
*.qtcreator.user*


/src/traverso/qrc_traverso.cxx
qrc_*
moc_*.cxx
ui_*.h
*autogen*
*.depends
*.user
