[Desktop Entry]
Type=Application
Version=1.0
Name=Traverso
GenericName=Multitrack Recorder
Exec=traverso
Icon=traverso
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;AudioVideo;Audio;Recorder;AudioVideoEditing;
